.searchBar_container {
    margin: auto;
    flex-grow: 2;
    display: flex;
    height: 3.2rem;
  }
  .searchBar_container2 {
    margin: auto;
  }
  .search_div {
    display: flex;
    margin: auto;
    position: relative;
    z-index: 91;
  }
  .iBox_searchBar {
    background-color: rgb(18, 18, 18);
    width: 48rem;
    border: 1px solid rgba(128, 128, 128, 0.4);
    color: white;
    font-size: large;
    padding: 0.4rem;
    height: 3.2rem;
    padding-left: 3.2rem;
  }
  .searchIcon_searchBar{
      cursor: pointer;
      padding: 1.5rem;
      width: 3.2rem;
      border-radius: 0.2rem;
      background-color: rgb(78, 78, 78);
      color: aliceblue;
  }
  .searchIcon_searchBar:hover{
      background-color: rgb(71, 71, 71);
  }
  .mic_searchBar{
      border-radius: 100%;
      padding: 1rem;
      background-color: rgb(51, 51, 51);
  }
  
  .vid_bell_navbar,
  .mic_searchBar{
      color: whitesmoke;
      margin: auto 1.4rem;
  }