.navigation_home{
    color: white;
    background-color: rgb(37,37,37);
    position: relative;
    display: flex;
    overflow-x: auto;
    height: 6.4rem;
    top: 0;
    border-bottom: 2px solid rgb(128,128,128,0.27);
    gap: 2rem;
    align-items: center;
    z-index: 500;
    grid-column: 2/3;
    /* /////////////////// */
    /* width: 100%;  */
}
/* .container2_pages_app{
    font-size: 1.2rem;
    display: flex;
    position: relative;
    top: 0rem;
    background-color: blue;
    height: 2rem;
    z-index: 99999;
    gap: 4.2rem;
    flex-direction: column;
} */

.btn_nav_home{
    /* background-color: rgb(46,46,46); */
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    padding: 0.2rem 0.5rem 0.2rem 0.5rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.6rem;
    /* flex: 1; */
}
.btn_nav_home:hover{
    background-color: rgb(128,128,128);
}


/* .navigation_home{
    color: white;
    background-color: rgb(37,37,37);
    position: sticky;
    display: flex;
    overflow-x: auto;
    top: 0;
    border-bottom: 2px solid rgb(128,128,128,0.27);
}
.btn_nav_home{
    background-color: rgb(46,46,46);
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 45px;
    cursor: pointer;
}
.btn_nav_home:hover{
    background-color: rgb(128,128,128);
} */