.library_container{
    display: grid;
    /* grid-template-columns: repeat(3,1fr); */
   grid-template-rows: repeat(3,1fr) ;
   position: relative;
   left: 7.5rem;
}
.container_libraryPage{
    border-bottom:1px solid grey ;
    padding: 1rem 2rem;
    color: aliceblue;
}
.title_container_libraryPage{
    margin: 0.5rem 4rem;
}
.title_container_LibraryPage b{
    margin:  auto 0.5rem;
    padding:  auto 0.5rem;
    font-size: medium;
        color: #ffffff;
}
.container_videoList_libraryPage{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0;
    max-height: 80vh;
    overflow-y: auto;
}